/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
  }
  
  .accordion h3 {
    font-size: large;
  }

  @media (prefers-reduced-motion){
    .panel {
      transition: none;
    }
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .accordion:hover {
    background-color: #ccc;
  }
 
  .accordion{
    border-radius: 30px;
  }

  .active{
    background-color: #0c6847;
    border:5px solid grey;
  }

  .active h3, .active time{
    color: white;
    font-size: 24px;
  }
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out !important;
  }

  .accordion:after {
    content: '\02795 Open it here'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgb(0, 0, 0);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: '\2796 Close it here'; 
    font-size: 13px;
    color: #ffffff;
    float: right;
    margin-left: 5px;

  }

  .active :hover {
    text-decoration-color: black;
  }
  
  