#skip{
    position: absolute;
    left: -500px;
}

#skip:focus{
    left: 100px;
    padding:5px;
    border: 2px;
    transition: 1s;
    background-color: yellow;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;

}
nav {
    /* background: #6ee7ef; */
    /* border: solid 6px #b69d7b; */
    text-align: center;
    margin-top: 20px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color:  #5085A5;
    color: #ffffff;
}

nav a:hover {
    background-color: #8FC1E3;
    color: rgb(0, 0, 0);
}


nav a:active {
    background-color: #8FC1E3;
    color: white;
}


header {
    background-color: #31708E;
    padding: 20px;
}

html{
    scroll-behavior: auto;
}

*{
    transition: 0s !important;
}

.image-grid{
    display: grid;
    grid-template-columns: 100%;
}

.image-grid img{
    width: 80%;
    border: solid rgb(123, 123, 192) 3px;
    /* border-bottom-right-radius: 45px; */
    opacity: .6;
    padding: 10px;
    border-radius: 31% 69% 23% 77% / 66%
              18% 82% 34%;
}
.image-grid img:first-child{

    align-self:center;

}

.image-grid img:last-child{
    /* Find an image that is the last child in the image grid class
    And set it to take up all of the columns */
    grid-column: 1 / -1;
    width: 50%;
    margin: auto;
}

.image-grid img:hover, .image-grid img:focus {
    opacity: 1;
}

@media screen and (min-width: 775px){
    .image-grid{
        grid-template-columns: 45% 45%;
        grid-gap: 20px;
        justify-content: center;
    }
}


@media screen and (min-width: 990px){
    .image-grid{
        grid-template-columns: 30% 30% 30%;
    }

    .image-grid img:last-child{
        /* Undoing the style from the tablet view.
        Set the column back to auto and reset the width back to 80% */
        grid-column: auto;
        width: 80%;
    }
}


#arti {
    display: flex;
    flex-direction: column-reverse; /* Display flex items in a column-reverse direction */
}

article {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

h1{
    color: white;
}

/* .current {
    font-size: 28px;
    border-top: 2px solid yellow;
    display: inline-block;
    width: 75px;
} */
/* .current::before{
    content: "&#9752"; &#x2618";
} */